@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
.header-top-icon-container {
  @apply bg-gray-200 rounded-md p-[6px] text-[14px] cursor-pointer hover:bg-accent hover:text-white;
}

.navbar_link:hover{
  color: #e56b1f;
  transition: all 0.5s;
}

.navbar_link:after{
  position: absolute;
  content: "";
  background-color: #e56b1f;
  height: 3px;
  width: 100%;
  bottom: -5px;
  left: 0;
  scale: 0;
  transform-origin: left;
  transition: all 0.5s ;
}
.navbar_link:hover::after{
  scale: 1;
}

}